FALHA DE REGISTRO CONTROLADORES

Este notebook tem como objetivo apresentar um script mais moderno e confiavel para apuração dos indicadores de falha de registro

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving ANALISADAS.csv to ANALISADAS (2).csv

In [ ]:
import pandas as pd
import numpy as np
import statistics as sts

In [ ]:
dbpos = pd.read_csv("ANALISADAS (1).csv", sep=",")
dbpos.head()

,ID,OCO_DATA_NR,TB_TP_ABRANGENCIA,OBS_DATA,OCO_NUMERO,ANALISTA,OBSERVACAO
0,15160336,03/01/22,AL,05/01/22,11009,IRACY OLIVEIRA DA SILVA,#VALIDADO
1,15160336,03/01/22,AL,05/01/22,11009,IRACY OLIVEIRA DA SILVA,CORREÇÃO: Corrigido os tempos operacionais de ...
2,15161101,05/01/22,SE,06/01/22,11774,IRACY OLIVEIRA DA SILVA,CORREÇÃO: Corrigido os eventos de acordo com h...
3,15161101,05/01/22,SE,06/01/22,11774,IRACY OLIVEIRA DA SILVA,#VALIDADO
4,15161098,05/01/22,AL,06/01/22,11771,IRACY OLIVEIRA DA SILVA,#VALIDADO

In [ ]:
#alterar coluna para fazer cruzamento
dbpos = dbpos.rename(columns={"OCO_DATA_NR":"DATA"})

In [ ]:
dbpos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3552 entries, 0 to 3551
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 3552 non-null   int64
 1   DATA               3552 non-null   object
 2   TB_TP_ABRANGENCIA  3552 non-null   object
 3   OBS_DATA           3552 non-null   object
 4   OCO_NUMERO         3552 non-null   int64
 5   ANALISTA           3552 non-null   object
 6   OBSERVACAO         3552 non-null   object
dtypes: int64(2), object(5)
memory usage: 194.4+ KB

In [ ]:
#transformando serie de data de objeto para datatime
dbpos["DATA"] = pd.to_datetime(dbpos["DATA"], dayfirst = True )
dbpos.head()

,ID,DATA,TB_TP_ABRANGENCIA,OBS_DATA,OCO_NUMERO,ANALISTA,OBSERVACAO
0,15160336,2022-01-03,AL,05/01/22,11009,IRACY OLIVEIRA DA SILVA,#VALIDADO
1,15160336,2022-01-03,AL,05/01/22,11009,IRACY OLIVEIRA DA SILVA,CORREÇÃO: Corrigido os tempos operacionais de ...
2,15161101,2022-01-05,SE,06/01/22,11774,IRACY OLIVEIRA DA SILVA,CORREÇÃO: Corrigido os eventos de acordo com h...
3,15161101,2022-01-05,SE,06/01/22,11774,IRACY OLIVEIRA DA SILVA,#VALIDADO
4,15161098,2022-01-05,AL,06/01/22,11771,IRACY OLIVEIRA DA SILVA,#VALIDADO

In [ ]:
dbpos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3552 entries, 0 to 3551
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 3552 non-null   int64
 1   DATA               3552 non-null   datetime64[ns]
 2   TB_TP_ABRANGENCIA  3552 non-null   object
 3   OBS_DATA           3552 non-null   object
 4   OCO_NUMERO         3552 non-null   int64
 5   ANALISTA           3552 non-null   object
 6   OBSERVACAO         3552 non-null   object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 194.4+ KB

In [ ]:
dbpos['mes'] = dbpos.DATA.dt.month
dbpos

,ID,DATA,TB_TP_ABRANGENCIA,OBS_DATA,OCO_NUMERO,ANALISTA,OBSERVACAO,mes
0,15160336,2022-01-03,AL,05/01/22,11009,IRACY OLIVEIRA DA SILVA,#VALIDADO,1
1,15160336,2022-01-03,AL,05/01/22,11009,IRACY OLIVEIRA DA SILVA,CORREÇÃO: Corrigido os tempos operacionais de ...,1
2,15161101,2022-01-05,SE,06/01/22,11774,IRACY OLIVEIRA DA SILVA,CORREÇÃO: Corrigido os eventos de acordo com h...,1
3,15161101,2022-01-05,SE,06/01/22,11774,IRACY OLIVEIRA DA SILVA,#VALIDADO,1
4,15161098,2022-01-05,AL,06/01/22,11771,IRACY OLIVEIRA DA SILVA,#VALIDADO,1
...,...,...,...,...,...,...,...,...
3547,15282891,2022-02-16,TF,15/03/22,45816,Ennio Bernardo Pessoa dos Santos,#VALIDADO,2
3548,15275982,2022-02-13,CH,15/03/22,38882,Ennio Bernardo Pessoa dos Santos,"CORREÇÃO: ocorrência está sem indicador, devid...",2
3549,15275982,2022-02-13,CH,15/03/22,38882,Ennio Bernardo Pessoa dos Santos,#VALIDADO,2
3550,15281459,2022-02-15,CH,15/03/22,44380,Ennio Bernardo Pessoa dos Santos,"CORREÇÃO: ocorrência está sem indicador, devid...",2
3551,15281459,2022-02-15,CH,15/03/22,44380,Ennio Bernardo Pessoa dos Santos,#VALIDADO,2

In [ ]:
ag = dbpos.groupby(["mes"]).size()
ag

mes
1    1136
2    1048
3    1368
dtype: int64

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving JANEIRO_2022.csv to JANEIRO_2022 (1).csv

In [ ]:
dfjan = pd.read_csv("JANEIRO_2022 (1).csv", sep=";")
dfjan.head()

,OCORRENCIA,OCORRENCIA_ID,TIPO,DATA,REGIONAL,POLO,LOCALIDADE,USUARIO,LOGIN,EQUIPE,DESPACHO,ABRANGENCIA
0,2,15149383,COLETIVO,01/01/2022,CENTRO-OESTE,ALTAMIRA,MEDICILANDIA,ERNESTO VON MANSTEIN LEAO MAIA,u1007649,MED301,NORMAL,CH
1,3,15149384,INDIVIDUAL,01/01/2022,NORDESTE,CAPANEMA,SALINOPOLIS,FABIANA FERREIRA DOS SANTOS,u1009847,PAR001bx,NORMAL,CR
2,3,15236295,INDIVIDUAL,31/01/2022,NORTE,EM ANALISE NORTE,EM ANALISE,Rodrigo da Silva Mandu,u1009573,BEL407,MULTIPLO,NI
3,4,15236296,INDIVIDUAL,31/01/2022,NORTE,EM ANALISE NORTE,EM ANALISE,Rodrigo da Silva Mandu,u1009573,BEL407,MULTIPLO,NI
4,6,15149387,INDIVIDUAL,01/01/2022,NORDESTE,PARAGOMINAS,PARAGOMINAS,SANDRA MARIA FREITAS NEGRAO,u1009407,PAR001,MULTIPLO,CR

In [ ]:
dfjan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50386 entries, 0 to 50385
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OCORRENCIA     50386 non-null  int64
 1   OCORRENCIA_ID  50386 non-null  int64
 2   TIPO           50386 non-null  object
 3   DATA           50386 non-null  object
 4   REGIONAL       50386 non-null  object
 5   POLO           50386 non-null  object
 6   LOCALIDADE     50386 non-null  object
 7   USUARIO        50386 non-null  object
 8   LOGIN          50386 non-null  object
 9   EQUIPE         50386 non-null  object
 10  DESPACHO       50386 non-null  object
 11  ABRANGENCIA    50386 non-null  object
dtypes: int64(2), object(10)
memory usage: 4.6+ MB

In [ ]:
dfjan["DATA"] = pd.to_datetime(dfjan["DATA"], dayfirst = True )
dfjan = dfjan.rename(columns={"OCORRENCIA_ID":"ID"})
dfjan

,OCORRENCIA,ID,TIPO,DATA,REGIONAL,POLO,LOCALIDADE,USUARIO,LOGIN,EQUIPE,DESPACHO,ABRANGENCIA
0,2,15149383,COLETIVO,2022-01-01,CENTRO-OESTE,ALTAMIRA,MEDICILANDIA,ERNESTO VON MANSTEIN LEAO MAIA,u1007649,MED301,NORMAL,CH
1,3,15149384,INDIVIDUAL,2022-01-01,NORDESTE,CAPANEMA,SALINOPOLIS,FABIANA FERREIRA DOS SANTOS,u1009847,PAR001bx,NORMAL,CR
2,3,15236295,INDIVIDUAL,2022-01-31,NORTE,EM ANALISE NORTE,EM ANALISE,Rodrigo da Silva Mandu,u1009573,BEL407,MULTIPLO,NI
3,4,15236296,INDIVIDUAL,2022-01-31,NORTE,EM ANALISE NORTE,EM ANALISE,Rodrigo da Silva Mandu,u1009573,BEL407,MULTIPLO,NI
4,6,15149387,INDIVIDUAL,2022-01-01,NORDESTE,PARAGOMINAS,PARAGOMINAS,SANDRA MARIA FREITAS NEGRAO,u1009407,PAR001,MULTIPLO,CR
...,...,...,...,...,...,...,...,...,...,...,...,...
50381,90359,15149057,COLETIVO,2022-01-01,NORDESTE,ABAETETUBA,TAILANDIA,MARCO ANTONIO DA COSTA MIRANDA,U1008961,TAI001,NORMAL,CH
50382,90381,15149079,COLETIVO,2022-01-01,OESTE,ITAITUBA,ITAITUBA,CARLOS EDUARDO DOS SANTOS SILVA,u1010850,ITA001,MULTIPLO,CH
50383,90589,15149287,COLETIVO,2022-01-01,NORDESTE,CASTANHAL,CASTANHAL,MARIA DOLORES SANTOS DA CONCEICAO,U1008997,CAS302,NORMAL,CH
50384,90653,15149351,COLETIVO,2022-01-02,NORDESTE,TOME ACU,SAO MIGUEL DO GUAMA,Paulo Arthur Lopes Ferreira,u1010910,SMP301,NORMAL,TF
50385,90664,15149362,INDIVIDUAL,2022-01-01,NORDESTE,EM ANALISE NORDESTE,EM ANALISE,ALEX SANDRO DA CRUZ VILELA,u1009749,COD301bx,NORMAL,CR